2013/bsls/WCFService/BslsServiceTest/Service References/BslsServiceReference2/Jnj.ThirdDimension.Service.BarcodeSeries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.Service.BarcodeSeries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.Service.BarcodeSeries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTemplateFieldMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFieldMap" nillable="true" type="tns:TemplateFieldMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFieldMap" nillable="true" type="tns:ArrayOfTemplateFieldMap" />
  <xs:complexType name="TemplateFieldMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColIdx" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateFieldMap" nillable="true" type="tns:TemplateFieldMap" />
  <xs:complexType name="ArrayOfSeriesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeriesInfo" nillable="true" type="tns:SeriesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeriesInfo" nillable="true" type="tns:ArrayOfSeriesInfo" />
  <xs:complexType name="SeriesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeriesInfo" nillable="true" type="tns:SeriesInfo" />
</xs:schema>