2013/bsls/WCFService/BslsServiceTest/Service References/BslsServiceReference2/Jnj.ThirdDimension.BusinessLayer.BarcodeSeries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.BusinessLayer.BarcodeSeries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.BusinessLayer.BarcodeSeries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PrinterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfPrinterTemplate" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrinterInfo" nillable="true" type="tns:PrinterInfo" />
  <xs:complexType name="ArrayOfPrinterTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrinterTemplate" nillable="true" type="tns:PrinterTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrinterTemplate" nillable="true" type="tns:ArrayOfPrinterTemplate" />
  <xs:complexType name="PrinterTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Variables" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrinterTemplate" nillable="true" type="tns:PrinterTemplate" />
</xs:schema>