2013/bsls/WCFService/BslsServiceTest/Service References/BslsServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.BusinessLayer.BarcodeSeries" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.Service.BarcodeSeries" />
  <xs:element name="OpenSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encrypted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSessionByWWID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wwid" type="xs:decimal" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encrypted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSessionByWWIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenSessionByWWIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarcodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seriesName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfValues" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarcodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBarcodesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrintersListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrinterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrinterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.BusinessLayer.BarcodeSeries" minOccurs="0" name="GetPrinterInfoResult" nillable="true" type="q3:PrinterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q4:ArrayOfArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.Service.BarcodeSeries" minOccurs="0" name="mapping" nillable="true" type="q5:ArrayOfTemplateFieldMap" />
        <xs:element minOccurs="0" name="stopOnError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintLabelsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSitesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jnj.ThirdDimension.Service.BarcodeSeries" minOccurs="0" name="GetSeriesNamesResult" nillable="true" type="q7:ArrayOfSeriesInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>